 .image-column {
    width: 100%; /* Ширина колонки */
  }
  .image-column img {
    display: block; /* Картинки блочные, чтобы занимать всю ширину колонки */
    max-width: 40%; /* Максимальная ширина картинки */
    height: auto; /* Высота изменяется автоматически */
    margin-bottom: 10px; /* Отступ между картинками */
  }
