@font-face {
	font-family: 'Allay';
	src: url(fonts/Allay.otf);
}

.slider-container {
    margin: 20px;
}

.value-field {
    margin: 10px 0;
   width: 10%;
    height: 30px;
}

.background {
    background-size: cover;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    position: absolute;
    width: 500px;
    height: 700px;
}
.text{
    font-family: "Arial Black";
    font-size: 25px;
}
